.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  color: #f10d19;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    width: 4rem;
    animation: rotate 2s linear infinite;
  }
}

.App-header {
  background-color: #b7f349;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f10d19;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(360deg);
  }
}
